<div>
    <!-- progressbar -->
    <!--<ng-view></ng-view>-->
    <!--<ul id="progressbar" ng-hide="isContentNull">
        <li class="active">Title/Introduction</li>
        <li>E-learning Contents</li>
        <li>Schedule</li>
    </ul>-->
    <!--create elearning content - step:1-->
   
   <div>
       <div ng-include="'/Templates/ELearningContent/CreateELearningContentOne.html'"></div>
   </div>
    


    <!--create e-learning content - step:2-->
    <div>
        <div ng-include="'/Templates/ELearningContent/CreateELearningContentTwo.html'"></div>
    </div>

        <!--<div id="busyindicator" class="busy-indicator" ng-show="loadnigFlags">
            <img src="../Images/Loading.GIF" />
        </div>
        <script src="../../Scripts/jquery.easing.min.js"></script>-->
    </div>