<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <add name="LearningCenterDataContext"
    connectionString="Data Source=localhost;Initial Catalog=LearningCenterStaging;user id=kanan;Password=Promact2014;Integrated Security=False" providerName="System.Data.SqlClient"
    xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="ApiPath" xdt:Transform="Replace" xdt:Locator="Match(key)" value="http://LearningCenter2.promactinfo.com"/>
    <add key="fbAppID" xdt:Transform="Replace" xdt:Locator="Match(key)" value="1514312462127028"/>
    <add key="fbAppSecret" xdt:Transform="Replace" xdt:Locator="Match(key)" value="85bdbe926e351b77497fb6fe3de85414"/>
    <add key="likedInAPIKey" xdt:Transform="Replace" xdt:Locator="Match(key)" value="77mity7o8vz5tn"/>
    <add key="linkedIdSecretKey" xdt:Transform="Replace" xdt:Locator="Match(key)" value="oKfUQIvh9V5phJCf"/>
    <add key="googleClientId" xdt:Transform="Replace" xdt:Locator="Match(key)" value="440777047354-haajo1d05cub7bh3aq5lpm7tsrhsa6c7.apps.googleusercontent.com"/>
    <add key="googleClientSecret" xdt:Transform="Replace" xdt:Locator="Match(key)" value="0-QvN4pgx-ifeFdgLs3jb7we"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
